body {
    font-family: Arial, sans-serif;
    background-color: #D2E0FB;
}

.head {
    background-color: #E7E5DA;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 2px solid black;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.title {
    font-size: 24pt;
    color: black;
}

nav div {
    text-decoration: none;
    font-size: 18pt;
    padding-top: 60px;
}

nav div a {
    text-decoration: underline;
    color: black;
}

body {
    background-color: #D2E0FB;
}

.container {
    display: grid;
    grid-template-rows: repeat(6, 550px);
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.card {
    text-align: left;
    background-color: #E7E5DA;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;

    box-sizing: border-box;
    box-shadow: 4px 4px 4px black;
    transition: box-shadow .3s;

    cursor: pointer;
    overflow: hidden;
}

.card:hover {
    box-shadow: 6px 6px 6px black;
    transition: box-shadow .3s;
}

.card:active {
    box-shadow: none;
    transition: box-shadow 0s;
}

.info {
    font-size: 20px;
    text-align: center;
}

.name {
    font-size: 30px;
    text-align: center;
}

.stars {
    color: orange;
}

.card img {
    height: 55%; /* Set a fixed height for the images */
    width: 100%;
    object-fit: cover;
}
