body {
    font-family: Arial, sans-serif;
    background-color: #D2E0FB;
}

.about-container {
    display: grid;
    grid-template-rows: repeat(auto, 550px);
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-template:
        'team info'
}

.card {
    text-align: left;
    background-color: #E7E5DA;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;

    box-sizing: border-box;
    box-shadow: 4px 4px 4px black;
    transition: box-shadow .3s;
}

.team {
    text-align: center;
    font-size: 16pt;
}

.info {
    font-size: 16pt;
}