body {
    font-family: Arial, sans-serif;
    background-color: #D2E0FB;
}

.container {
    display: grid;
    grid-template-rows: repeat(auto, 500px);
    grid-template-columns: 4fr 2fr;
    padding-top: 10px;
    grid-template-areas:
    'main hours'
    'main hours'
}

.card {
    border: border-box;
    text-align: center;
    background-color: #E7E5DA;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
    margin: 10px;
    padding: 20px;
}

h1 {
    font-size: 24pt;
    font: Oswald;
}

.main {
    grid-area: main;
}

.link {
    font: Oswald;
    text-decoration: none;
    justify-content: space-between;
}

.description {
    font-size: 18pt;
}

h2 {
    font-size: 24pt;
}

.hours {
    grid-area: hours;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 30px;
    font-size: 16pt;
}

.days, .times {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.days {
    text-align: right;
    text-align: center;
}

.times {
    text-align: left;
}

.container2 {
    display: grid;
    grid-template-rows: repeat(auto, 400px);
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    padding-top: 10px;
    grid-template-areas:
    'img review img'
    'review img review'
}

.img {
    grid-area: img;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.review {
    grid-area: review;
    font-size: 16pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
