body {
    font-family: Arial, sans-serif;
    background-color: #D2E0FB;
}

.container {
    display: grid;
    grid-template-rows: repeat(auto, 500px);
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
}

.link {
    display: inline;
    gap: 15px;
}

a{
    color: black;
}

a:hover {
    color: blue;
}

.card {
    background-color: #E7E5DA;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
    margin: 10px;
    padding: 20px;
}

.main {
    text-align: center;
    display: grid;
    grid-template-rows: repeat(auto, 500px);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-top: 10px;
    font-size: 16pt;
}

.hours {
    text-align: center;
    font-size: 16pt;
}

.hours h2 {
    margin-bottom: 10px;
}

.hours table {
    margin: 0 auto;
}

.hours table th,
.hours table td {
    text-align: center;
}

.video {
    font-size: 18pt;
    font-style: bold;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

#googleMap {
    width:100%px;
    height:500px;
}

.container2 {
    display: grid;
    grid-template-rows: repeat(auto, 400px);
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}

.img {
    grid-area: img;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.review {
    grid-area: review;
    font-size: 16pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
