body {
    font-family: Arial, sans-serif;
    background-color: #D2E0FB;
}

.container {
    display: grid;
    grid-template-rows: repeat(auto, 500px);
    grid-template-columns: 5fr 2fr;
    padding-top: 10px;
    grid-template-areas:
    'main hours'
    'main hours'
}

.card {
    border: border-box;
    text-align: center;
    background-color: #E7E5DA;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 24pt;
    font: Oswald;
}

.main {
    grid-area: main;
}

.link {
    font: Oswald;
    text-decoration: none;
}

.a {
    text-align: left;
}

h2 {
    font-size: 24pt;
}

.hours {
    grid-area: hours;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 30px;
}

.days, .times {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.days {
    text-align: right;
    text-align: center;
}

.times {
    text-align: left;
}

.container2 {
    display: grid;
    grid-template-rows: repeat(auto, 500px);
    grid-template-columns: 3fr 3fr 3fr;
    padding-top: 10px;
    grid-template-areas:
    'img review img'
    'review img review'
}