/* this file isnt being used anywhere, rather an ease of access incase someone wants to 
redesign the header navbar. If you do change it, copy and past this into the headerCSS.js file,
and into the styles.css
*/

.head {
    background-color: #E7E5DA;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 2px solid black;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.title {
    font-size: 24pt;
    color: black;
}

nav div {
    text-decoration: none;
    font-size: 18pt;
    padding-top: 60px;
}

nav div a {
    text-decoration: underline;
    color: black;
}

body {
    background-color: #D2E0FB;
}
